.gris{
color:rgb(173, 171, 171);
}
.centro{ 
  display: flex;
    justify-content: center;
    align-items: center;
        padding-top: 20px;
        text-align:center;}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  height: 100%;
}
body {
  background: lightblue;
  font-size: 16px;
  color: #fff;
}
.contenedor {
  width: 90%;
  height: 100%;
  position: relative;
  max-width: 1000px;
  margin: auto;
  background: #ccc;
}
.widget {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.widget p {
  display: inline-block;
  line-height: 1em;
}
.fecha {
  font-family: arial;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 5px;

  padding: 20px;
  width: 100%;
}
.reloj {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  padding: 20px;
  font-size: 4em;
  text-align: center;

}
.reloj .cajaSegundos {
  display: inline-block;  
}
.reloj .ampm, .reloj .segundos{
  display: block;
  font-size: 2rem;
}