<div class="content centro">
    <div class="brand">
        <a class="link" routerLink="/index">Proyecto</a>
    </div> <br><br>
    <form id="login-form" action="javascript:;" method="post">
        <img src="assets/img/admin-avatar.png" style="height: 15vh;width: 15vh;"  />
        <h2 class="login-title ">Login</h2>
        <div class="form-group">
            <div class="input-group-icon right">
                <div class="input-icon"><i class="fa fa-envelope"></i></div>
                <input class="form-control" type="email" name="email" placeholder="Email" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group-icon right">
                <div class="input-icon"><i class="fa fa-lock font-16"></i></div>
                <input class="form-control" type="password" name="password" placeholder="Contraseña">
            </div>
        </div>
        <div class="form-group d-flex justify-content-between">
            <label class="ui-checkbox ui-checkbox-info">
                <input type="checkbox">
                <span class="input-span"></span>Recordar</label>
            <a routerLink="/recuperar_password">Recuperar contraseña?</a>
        </div>
        <div class="form-group">
            <button class="btn btn-info btn-block"  routerLink="/index" type="submit">Login</button>
        </div>
       
        <div class="text-center">
         <a class="color-blue" routerLink="/registro">Crear cuenta</a>
        </div>
    </form>
</div>
