<ul class='social'>
  <li>
    <a class="fa fa-gear iconMenu" routerLink="/mantenimientos/menu">
      <span>Mantenimiento</span>
</a> 
<a class="fa fa-gear iconMenu" routerLink="/usuario/menusuario">
  <span>Mantenimiento Usuario</span>
</a>
<a class="fas fa-user-circle" routerLink="/usuario/realizar">
  <span>Tareas</span>
</a>
  </li>
</ul>