<div class="animated fadeIn"><br>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header colores">
          <strong>Tareas</strong>

        </div>
        <div class="card-body fondo">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <div class="col-sm-12 col-md-12 col-xl-12 pb-3">
                  <div class="row">
                    <div class="btn-group ml-auto">

                    </div>
                    <div class="btn-group ml-auto btn-rounded">
                      <button class="btn  btn-outline-default" [routerLink]="['/home/0']"><i
                          class="fa fa-home pr-2"></i>Inicio</button>
                      <button class="btn  btn-outline-default" (click)="Back()"><i
                          class="fa fa-chevron-circle-left pr-2"></i>Atras</button>
                      <button class="btn  btn-outline-default" (click)="ngOnInit()"><i
                          class="fa fa-refresh pr-2"></i>Refrescar</button>
                      
                    </div>
                  </div>
                </div>

                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                  class="table datatable table-sm table-bordered table-hover datatable-table display responsive nowrap rounded animated fadeIn">
                  <thead class="text-center bg-light">
                    <tr>
                      <th>Id</th>
                      <th>Descripcion</th>
                      <th>Puesto</th>
                      
                      <th>Estado</th>
                      
                    </tr>
                  </thead>
                  
                </table>
              </div>
            </div>
          </div>
        </div>


        
       <!--Final  del modal de idiomas-->
      </div>
    </div>
  </div>
</div>