.imagen{
    
    float: left;
    margin-right: 1rem;
    height: 30rem;
    
    border-radius: .25rem;
    
}
.informacion{
    
    float: right;
    height: 30rem;
    background-color: tan;
    border-radius: .25rem;

}
.datos{
    margin-top: 35px;
    margin-bottom: 35px;
}
.labels{
    margin-top: 15px
    
}
.boton{
    margin-top: 35px;
    display:block;
      margin:auto;
      
}
#file{
    display: none;
}