
<br>
<div class="row">


    <div class="imagen col-sm-3">
      <img src="assets/img/admin-avatar.png" style="height: 15vh;width: 15vh;display:block;
      margin:auto; margin-top: 100px;" >
      <input type="file" id="file" name="archivo" >
      <input type="button" value="Actualizar" style="display:block;
      margin:auto; margin-top: 25px;" onclick="document.getElementById('file').click()">
      
    </div>
    
    <div class="informacion col-sm-8">
      <div class="datos conteiner-fluid ">
            <label class="labels col-sm-3">Nombre Completo</label>
            <input class="label col-sm-6">
            <label class="labels col-sm-3">Usuario</label>
            <input class="label col-sm-6">
            <label class="labels col-sm-3">Contraseña</label>
            <input class="label col-sm-6">
            <label class="labels col-sm-3">numero de identidad</label>
            <input class="col-sm-6">
            <label class="labels col-sm-3">fecha de nacimiento </label>
            <input class="col-sm-6">
            <label class="labels col-sm-3">telefono </label>
            <input class="labels col-sm-6">
            <label class="labels col-sm-3">correo </label>
            <input class="col-sm-6">
            
              <button class="boton btn-sm btn-primary">Actualizar</button>
             
            
      </div>
      <br>
    
    </div>
 


</div>
