<div class="content">
    <div class="brand">
        <a class="link" routerLink="/index">Proyecto</a>
    </div>
    <form id="forgot-form" action="javascript:;" method="post">
        <h3 class="m-t-10 m-b-10">Olvido su contraseña</h3>
        <p class="m-b-20">Ingrese su correo para enviar el codigo de recuperacion</p>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email" autocomplete="off">
        </div>
        <div class="form-group">
            <button class="btn btn-info btn-block" type="submit">Enviar</button>
        </div>
    </form>
</div>
