<div class="centro">
  <div class="animated fadeIn"><br>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header colores">
         <h1><i class="sidebar-item-icon fa fa-key rojo"></i>  Seguridad</h1>
        </div>
          <div class="card-body fondo">
            <div class="panel rojoBorde">
            <i class="fas fa-hands-helping"></i>
              <button  routerLink="/seguridad/roles" routerLinkActive="active"><i class="sidebar-item-icon fa fa-user iconMenu"></i>    Roles</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
