
  <div class="main-section categories-view1-full">
    <span class=""></span>
    <div class="container">
      <div class="row">
  
        <div class="col-md-12">
          <!-- FancyTitle -->
          <div class="fancy-title-view1 fancy-title-view1-color">
            <h2><i class="sidebar-item-icon item-icon color icon"></i>Mantenimiento Usuario</h2>
          </div>
          <!-- FancyTitle -->
  
          <!-- Categories List -->
          <div class="categories categories-view1">
            <ul class="row">
              <li class="col-md-4">
                <div class="categories-view1-wrap " routerLink="/usuario/perfiles">
                  <i class="far fa-user-circle"></i>
                  <a style="color:rgb(177, 172, 172)">Usuarios <span>01</span></a>
  
                </div>
              </li>
  
              <li class="col-md-4">
                <div class="categories-view1-wrap " routerLink="/usuario/puestos">
                  <i class="fa fa-id-card "></i>
                  <a style="color:rgb(177, 172, 172)"> Puestos <span>02</span></a>
  
                </div>
              </li>
  
              <li class="col-md-4">
                <div class="categories-view1-wrap " routerLink="/usuario/tareas">
                  <i class="fa fa-child"></i>
                  <a style="color:rgb(177, 172, 172)"> Asignaciones <span>03</span></a>
  
                </div>
              </li>
  
            </ul>
          </div>
          <!-- Categories List -->
  
  
        </div>
  
      </div>
    </div>
  </div>