<div class="animated fadeIn">
    <br>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header colores">
          <strong>{{serviceDefinitions.config.nombre}}</strong>

        </div>
        <div class="card-body fondo">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <div class="col-sm-12 col-md-12 col-xl-12 pb-3">
                  <div class="row">
                    <div class="btn-group ml-auto">

                    </div>
                    <div class="btn-group ml-auto btn-rounded">
                      <button class="btn  btn-outline-default" [routerLink]="['/home/0']"><i
                          class="fa fa-home pr-2"></i>Inicio</button>
                      <button class="btn  btn-outline-default" (click)="Back()"><i
                          class="fa fa-chevron-circle-left pr-2"></i>Atras</button>
                      <button class="btn  btn-outline-default" (click)="ngOnInit()"><i
                          class="fa fa-refresh pr-2"></i>Refrescar</button>
                      <button class="btn  btn-outline-default" (click)="show(template)"><i
                          class="fa fa-plus pr-2"></i>Nuevo</button>
                    </div>
                  </div>
                </div>

                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                  class="table datatable table-sm table-bordered table-hover datatable-table display responsive nowrap rounded animated fadeIn">
                  <thead class="text-center bg-light">
                    <tr>
                      <th>Id</th>
                      <th>Nombre</th>
                      <th>Descripción</th>
                      <th>Abreviatura</th>
                      <th>Estado</th>

                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let x of serviceDefinitions.dataCatalogo;let i=index">
                      <td class="text-center">{{i + 1}}</td>
                      <td class="text-left pl-3">{{x.nombre}}</td>
                      <td class="text-left pl-3">{{x.descripcion}}</td>
                      <td class="text-left pl-3">{{x.abreviatura}}</td>
                      <td class="text-left pl-3">{{x.nombreEstado}}</td>

                      <td class="text-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary btn-sm" (click)="edit(template,x)"><i
                              class="fa fa-pencil pr-2"></i>Editar</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


        <ng-template #template>
          <div class="modal-header">
            <h5 class="modal-title letterSize">{{titulo}}</h5>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
              <span aria-hidden="true">&times;</span>

            </button>
          </div>

          <div class="modal-body">
            <form [formGroup]="serviceDefinitions.form" (ngSubmit)="Save(serviceDefinitions.catalogo)"
              autocomplete="off" novalidate>
              <div class="form-group">
                <label for="nombre" class="titles"><span class="text-danger">*</span>Nombre</label>
                <input class="form-control" type="text" name="nombre" maxlength="100" id="nombre" minlength="1"
                  formControlName="nombre" [(ngModel)]="serviceDefinitions.catalogo.nombre">

                <div
                  *ngIf="!serviceDefinitions.form.controls['nombre'].valid && serviceDefinitions.form.controls['nombre'].touched">
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['nombre'].errors.required">
                    ¡Descripción es requerida!</p>
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['nombre'].errors.minlength">Debe
                    ser de al menos
                    {{serviceDefinitions.form.controls['nombre'].errors.minlength.requiredLength}}
                    caracteres.</p>
                </div>
              </div>

              <div class="form-group">
                <label for="descripcion" class="titles"><span class="text-danger">*</span>Descripción.</label>
                <input class="form-control" type="text" name="descripcion" minlength="1" maxlength="100" id="descripcion"
                  formControlName="descripcion" [(ngModel)]="serviceDefinitions.catalogo.descripcion">

                <div
                  *ngIf="!serviceDefinitions.form.controls['descripcion'].valid && serviceDefinitions.form.controls['descripcion'].touched">
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['descripcion'].errors.required">
                    ¡Codigo Departamentos!</p>
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['descripcion'].errors.minlength">Debe
                    ser de al menos
                    {{serviceDefinitions.form.controls['descripcion'].errors.minlength.requiredLength}}
                    caracteres.</p>
                </div>
              </div>
              <div class="form-group">
                <label for="abreviatura" class="titles"><span class="text-danger">*</span>Abreviatura.</label>
                <input class="form-control sinespacio" type="text" name="abreviatura" minlength="1" maxlength="4" id="abreviatura"
                  formControlName="abreviatura" [(ngModel)]="serviceDefinitions.catalogo.abreviatura">

                <div
                  *ngIf="!serviceDefinitions.form.controls['abreviatura'].valid && serviceDefinitions.form.controls['abreviatura'].touched">
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['abreviatura'].errors.required">
                    ¡Abreviatura es obligatorio!</p>
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['abreviatura'].errors.minlength">Debe
                    ser de al menos
                    {{serviceDefinitions.form.controls['abreviatura'].errors.minlength.requiredLength}}
                    caracteres.</p>
                </div>
              </div>
              <div class="form-group">
                <label for="estadoRegistro" class="titles"><span class="text-danger">*</span>Estado</label>
                <select class="form-control" name="estadoRegistro" id="estadoRegistro" formControlName="estadoRegistro"
                  [(ngModel)]="serviceDefinitions.catalogo.estadoRegistro">
                  <option value="">--Seleccione--</option>
                  <option *ngFor="let item of serviceDefinitions.estados" [value]="item.idDetalleCatalogo">
                    {{item.nombre}}</option>

                </select>

                <div
                  *ngIf="!serviceDefinitions.form.controls['estadoRegistro'].valid && serviceDefinitions.form.controls['estadoRegistro'].touched">
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['estadoRegistro'].errors.required">
                    Estado Departamentos!</p>

                </div>
              </div>


            </form>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" (click)="Save(serviceDefinitions.catalogo)"
            [disabled]="!serviceDefinitions.form.valid">
              <i class="fa fa-save pr-2"></i>Guardar
            </button>
            <button type="button" class="btn btn-danger btn-sm" (click)="hide()">
              <i class=" fa fa-ban pr-2 "></i>Cancelar
            </button>
          </div>
        </ng-template>


        <!--Final  del modal de idiomas-->
      </div>
    </div>
  </div>
</div>
