<div class="animated fadeIn"><br>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header colores">
          <strong>Usuarios</strong>

        </div>
        <div class="card-body fondo">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <div class="col-sm-12 col-md-12 col-xl-12 pb-3">
                  <div class="row">
                    <div class="btn-group ml-auto">

                    </div>
                    <div class="btn-group ml-auto btn-rounded">
                      <button class="btn  btn-outline-default" [routerLink]="['/home/0']"><i
                          class="fa fa-home pr-2"></i>Inicio</button>
                      <button class="btn  btn-outline-default" (click)="Back()"><i
                          class="fa fa-chevron-circle-left pr-2"></i>Atras</button>
                      <button class="btn  btn-outline-default" (click)="ngOnInit()"><i
                          class="fa fa-refresh pr-2"></i>Refrescar</button>
                      <button class="btn  btn-outline-default" (click)="show(template)"><i
                          class="fa fa-plus pr-2"></i>Nuevo</button>
                    </div>
                  </div>
                </div>

                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                  class="table datatable table-sm table-bordered table-hover datatable-table display responsive nowrap rounded animated fadeIn">
                  <thead class="text-center bg-light">
                    <tr>
                      <th>id</th>
                      <th>idenficacion</th>
                      <th>Nombre</th>
                      <th>usuario</th>
                      <th>telefono</th>
                      <th>correo</th>
                      <th>Genero</th>
                      
                      
                      <th>Acciones</th>

                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let x of serviceDefinitions.usuariosArray ;let i=index">
                      <td class="text-center">{{i + 1}}</td>
                      <td class="text-left pl-3">{{x.identificacion}}</td>
                      <td class="text-left pl-3">{{x.nombre}}</td>
                      <td class="text-left pl-3">{{x.usuario}}</td>
                      <td class="text-left pl-3">{{x.telefono}}</td>
                      <td class="text-left pl-3">{{x.correo}}</td>
                      <td class="text-left pl-3">{{x.genero}}</td>
                      
                      <td class="text-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary btn-sm" (click)="edit(template,x)"><i
                              class="fa fa-pencil pr-2"></i>Editar</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


        <ng-template #template>
          <div class="modal-header">
            <h5 class="modal-title letterSize">{{titulo}}</h5>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
              <span aria-hidden="true">&times;</span>

            </button>
          </div>

          <div class="modal-body">
            <form [formGroup]="serviceDefinitions.form" (ngSubmit)="Save(serviceDefinitions.usuario)" autocomplete="off"
              novalidate>
              <div class="form-group">
                <label for="nombre" class="titles"><span class="text-danger">*</span>Nombre</label>
                <input class="form-control sololetras" type="text" name="nombre" maxlength="100" id="nombre" minlength="1"
                  formControlName="nombre" [(ngModel)]="serviceDefinitions.usuario.nombre">

                <div
                  *ngIf="!serviceDefinitions.form.controls['nombre'].valid && serviceDefinitions.form.controls['nombre'].touched">
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['nombre'].errors.required">
                    ¡Descripción es requerida!</p>
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['nombre'].errors.minlength">Debe
                    ser de al menos
                    {{serviceDefinitions.form.controls['nombre'].errors.minlength.requiredLength}}
                    caracteres.</p>
                </div>
              </div>

              <div class="form-group">
                <label for="identificacion" class="titles"><span class="text-danger">*</span>idenficacion</label>
                <input class="form-control" type="text" name="identificacion" minlength="1" maxlength="5"
                  id="identificacion" formControlName="identificacion"
                  [(ngModel)]="serviceDefinitions.usuario.identificacion">

                <div
                  *ngIf="!serviceDefinitions.form.controls['identificacion'].valid && serviceDefinitions.form.controls['identificacion'].touched">
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['identificacion'].errors.required">
                    ¡Identidicacion es requerida!</p>
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['identificacion'].errors.minlength">Debe
                    ser de al menos
                    {{serviceDefinitions.form.controls['identificacion'].errors.minlength.requiredLength}}
                    caracteres.</p>
                </div>
              </div>

              <!-- <div class="form-group">
                <label for="identificacion" class="titles"><span class="text-danger">*</span>F</label>
                <input class="form-control" type="text" name="identificacion" minlength="1" maxlength="5"
                  id="identificacion" formControlName="identificacion"
                  [(ngModel)]="serviceDefinitions.deptos.identificacion">

                <div
                  *ngIf="!serviceDefinitions.form.controls['identificacion'].valid && serviceDefinitions.form.controls['codigoDepartamento'].touched">
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['codigoDepartamento'].errors.required">
                    ¡Codigo Departamentos!</p>
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['codigoDepartamento'].errors.minlength">Debe
                    ser de al menos
                    {{serviceDefinitions.form.controls['codigoDepartamento'].errors.minlength.requiredLength}}
                    caracteres.</p>
                </div>
                <div class="form-group">
                  <label for="codigoDepartamento" class="titles"><span class="text-danger">*</span>Telefono</label>
                  <input class="form-control" type="text" name="codigoDepartamento" minlength="1" maxlength="5"
                    id="codigoDepartamento" formControlName="codigoDepartamento"
                    [(ngModel)]="serviceDefinitions.deptos.codigoDepartamento">
  
                  <div
                    *ngIf="!serviceDefinitions.form.controls['codigoDepartamento'].valid && serviceDefinitions.form.controls['codigoDepartamento'].touched">
                    <p class="text-danger animated fadeIn"
                      *ngIf="serviceDefinitions.form.controls['codigoDepartamento'].errors.required">
                      ¡Codigo Departamentos!</p>
                    <p class="text-danger animated fadeIn"
                      *ngIf="serviceDefinitions.form.controls['codigoDepartamento'].errors.minlength">Debe
                      ser de al menos
                      {{serviceDefinitions.form.controls['codigoDepartamento'].errors.minlength.requiredLength}}
                      caracteres.</p>
                  </div>
                </div>
              </div> -->
              <div class="form-group">
                <label for="genero" class="titles"><span class="text-danger">*</span>Genero</label>
                <select class="form-control"  name="genero"
                  id="genero" formControlName="genero"
                  [(ngModel)]="serviceDefinitions.usuario.genero">
                  <option value="">--Seleccione--</option>
                  
                  <option *ngFor="let item of serviceDefinitions.genero" [value]="item.id">{{item.nombre}}</option>
                
                </select>

                <div
                  *ngIf="!serviceDefinitions.form.controls['genero'].valid && serviceDefinitions.form.controls['genero'].touched">
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['genero'].errors.required">
                    Estado Departamentos!</p>
                 
                </div>
              </div>
              <div class="form-group">
                <label for="correo" class="titles"><span class="text-danger">*</span>correo</label>
                
                  <input class="form-control" type="text" name="correo" minlength="1" maxlength="5"
                  id="correo" formControlName="correo"
                  [(ngModel)]="serviceDefinitions.usuario.correo">

          

                <div
                  *ngIf="!serviceDefinitions.form.controls['correo'].valid && serviceDefinitions.form.controls['correo'].touched">
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['correo'].errors.required">
                    correo!</p>
                 
                </div>
                
              </div>
              <div class="form-group">
                <label for="telefono" class="titles"><span class="text-danger">*</span>telefono</label>
                
                  <input class="form-control" type="text" name="telefono" minlength="1" maxlength="5"
                  id="telefono" formControlName="telefono"
                  [(ngModel)]="serviceDefinitions.usuario.telefono">

          

                <div
                  *ngIf="!serviceDefinitions.form.controls['telefono'].valid && serviceDefinitions.form.controls['telefono'].touched">
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['telefono'].errors.required">
                    telefono!</p>
                 
                </div>
                
              </div>
              <div class="form-group">
                <label for="usuario" class="titles"><span class="text-danger">*</span>Usuario</label>
                
                  <input class="form-control" type="text" name="usuario" minlength="1" maxlength="5"
                  id="usuario" formControlName="usuario"
                  [(ngModel)]="serviceDefinitions.usuario.usuario">

          

                <div
                  *ngIf="!serviceDefinitions.form.controls['usuario'].valid && serviceDefinitions.form.controls['usuario'].touched">
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['usuario'].errors.required">
                    Usuario!</p>
                 
                </div>
                
              </div>
              <!-- <div class="form-group">
                <label for="estadoRegistro" class="titles"><span class="text-danger">*</span>Estado</label>
                <select class="form-control"  name="estadoRegistro"
                  id="estadoRegistro" formControlName="estadoRegistro"
                  [(ngModel)]="serviceDefinitions.deptos.estadoRegistro">
                  <option value="">--Seleccione--</option>
                  <option *ngFor="let item of serviceDefinitions.estados" [value]="item.idDetalleCatalogo">{{item.nombre}}</option>
                
                </select>

                <div
                  *ngIf="!serviceDefinitions.form.controls['estadoRegistro'].valid && serviceDefinitions.form.controls['estadoRegistro'].touched">
                  <p class="text-danger animated fadeIn"
                    *ngIf="serviceDefinitions.form.controls['estadoRegistro'].errors.required">
                    Estado Departamentos!</p>
                 
                </div>
              </div> -->


            </form>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" 
              (click)="Save(serviceDefinitions.usuario)">
              <i class="fa fa-save pr-2"></i>Guardar
            </button>
            <button type="button" class="btn btn-danger btn-sm" (click)="hide()">
              <i class=" fa fa-ban pr-2 "></i>Cancelar
            </button>
          </div>
        </ng-template>


        <!--Final  del modal de idiomas-->
      </div>
    </div>
  </div>
</div>